img{
    height: 300px;
    width: 300px;
}

div.info{
    border-radius: 20px;
    background-color: lightgreen;
    opacity: 0.9;
    padding: 40px;
    margin-bottom: 30px;
}

ol.list{
    font-size: 30px;
}

a.list{
    font-size: 30px;
}

ul.list{
    font-size: 20px;
}